@tailwind base;
@tailwind components;
@tailwind utilities;

.hover {
  @apply hover:text-[#F5B841] transition-all
}


/* npx tailwindcss init filename --full */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white-shade);
}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

.bg {
  background-color: #121212;
  background-image: linear-gradient(#1a1a1a 0.6px, transparent 0.6px), linear-gradient(to right, #1a1a1a 0.6px, #121212 0.6px);
  background-size: 10px 10px;
  background-position: center;
  background-attachment: fixed;
}

:root {
  --primary-color: #121212;
  --yellow-color: #F5B841;
  --white-shade: #F0F0F0;
  --grey-color: #282828;
  --grey-shade: rgba(40, 40, 40, 0.5);
  --font-family-syne: "Syne", sans-serif;
  --font-family-rubik: "Rubik", sans-serif;
}

.bdr {
  border: 1px solid #aaa;
}

.wrapper {
  margin-inline: auto;
  max-width: 144rem;
  padding: 2.2rem 3rem;
}

hr {
  border-color: #333;
}

/* ? Font Size */
/* Heading Fonts */
h1,
h2,
h3,
h4 {
  line-height: 1.5;
  font-family: var(--font-family-syne);
}

/* Body Fonts */

p,
a,
span {
  font-size: 2rem;
  line-height: 1.5;
  text-decoration: none;
  font-family: var(--font-family-rubik);
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}


/* Media Queries General */
@media (max-width: 768px) {

  .wrapper {
    padding: 1.6rem 2.4rem;
  }
  p,
  a,
  span {
    font-size: 1.6rem;
  }
}


/* Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}


/* --- Index Page --- */
/* ================== */
/* ================== */
/* Hero Section */
.hero-section {
  width: 100%;
  background-image: url(/assets/hero-section.webp);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  & .hero-main {
    width: 100%;
    height: 64rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1.2rem;
  }
}

/* ---------------------------------------------- */

/* Sliders  */

.slider .logos li {
  width: clamp(10rem, 8dvw, 14.4rem);
  display: inline-block;
  margin: 0 7.2rem;
}

.slider_right .logos {
  animation: slide_right 30s linear infinite;
}

.slider_left .logos {
  animation: slide_left 30s linear infinite;
}

@keyframes slide_right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slide_left {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}


/* --- Nav Menu Button --- */
/* ================== */
/* ================== */

.nav-menu {
  cursor: pointer;
}

/* .nav-menu {
  display: none;
} */

.nav-menu svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.nav-menu.active>svg {
  transform: rotate(-45deg);
}

.nav-menu.active svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* Mobile Screen Menu */
.mobile-menu {
  display: none;
}

.mobile-menu.active {
  display: block;
}




/* Contact Form */


.contact-form .user-box {
  position: relative;
}

.contact-form .user-box input,
textarea {
  width: 100%;
  padding: 6px 0 8px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #9d9d9d;
  outline: none;
  background: transparent;
  font-family: var(--font-family-rubik);
}

.contact-form label {
  padding: 6px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .3s;
  font-family: var(--font-family-rubik);
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
}

.contact-form .user-box input:focus~label,
.contact-form .user-box input:valid~label {
  top: -24px;
  left: 0;
  color: #efefef;
  font-size: 12px;
}

.contact-form form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}